.glider, .glider-contain {
    margin: 0 auto;
}
.glider, .glider-track {
    transform: translateZ(0);
}




.glider-dot:focus, .glider-dot:hover {
    background: #ddd;
}
.glider-dot.active {
    background: #a89cc8;
}
@media(max-width:36em) {
    .glider: :-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
}
.glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, .25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .25);
}
}
