.topbar {
    background-color: #31da74;
    height: 4rem;
    width: 100%;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
        display: none;
    }
    @include respond(tab-land) {
        padding: 0 1.5rem;
    }
    @include respond(big-desktop) {
        padding: 0 10rem;
    }

    &__left {
        // background-color: aqua;
        display: flex;
        align-items: center;
    }

    &__right {
        // background-color: aqua;
        display: flex;
        align-items: center;

    }

    &__link {
        &,
        &:link,
        &:active {
            font-size: 1.4rem;
            text-decoration: none;
            color: #333;

            // background-color: red;
            padding: 7px 12px;

            &:not(:last-of-type) {
                margin-right: .6rem;
            }
            transition: all 0.1s;
        }

        &:hover {
            color: black;
        }

    }

    &__svg {
        // background-color: #ddd;
        &:not(:last-of-type) {
            margin-right: 1.3rem;
        }
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

.tahir-lang-button {
    display: none;
}

//Arabic version.
/////////////////

html[dir="rtl"] .topbar {
    padding-left: 0;
    padding-right: 150px;
}

