.topbar {
    background-color: var(--color-topbar-background);
    height: 4rem;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;

    &__left {
        background-color: aqua;
        display: flex;
        align-items: center;
    }

    &__right {
        background-color: aqua;
        display: flex;
        align-items: center;

    }

    &__link {
        &,
        &:link,
        &:
        background-color: red;
        margin-right: 2rem;
        padding: 7px 15px;
    }

    &__svg {
        width: 30px;
        height: 30px;
        background-color: black;
        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }


}



//Arabic version.
/////////////////

html[dir="rtl"] .topbar {
    padding-left: 0;
    padding-right: 150px;
}

